<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
{{- $bodyClass := "page-default" -}}
{{- if .IsHome -}}{{ $bodyClass = "page-home" }}
{{- else if or (eq .Section "service") (eq .Layout "location") -}}{{ $bodyClass = "page-service" }}
{{- else if .File -}}{{ $bodyClass = printf "page-%s" .File.ContentBaseName }}{{- end -}}
<body class="{{ $bodyClass }}">
  {{ partial "switcher.html" . }}
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
</body>
</html>
